@import "tailwindcss";

@font-face {
  font-family: "Neo Sans Std";
  src: url("/fonts/Neo Sans Std Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Neo Sans Std";
  src: url("/fonts/Neo Sans Std Light.otf") format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: "Neo Sans Std";
  src: url("/fonts/Neo Sans Std Regular.otf") format("opentype");
  font-weight: normal;
}

body {
  font-family: "Neo Sans Std", sans-serif;
  background-color: white;
}